[flake8]
# FI10 __future__ import "division" missing
# FI11 __future__ import "absolute_import" missing
# FI12 __future__ import "with_statement" missing
# FI13 __future__ import "print_function" missing
# FI14 __future__ import "unicode_literals" missing
# FI15 __future__ import "generator_stop" missing
# FI16 __future__ import "nested_scopes" missing
# FI17 __future__ import "generators" missing
# FI18 __future__ import "annotations" missing

ignore = FI10,FI11,FI12,FI13,FI14,FI15,FI16,FI17,FI18
max-line-length = 120
